@model MioBlog.MvcWebUI.Models.Posts.PostListModel

<h2>Post List</h2>

@if (TempData["authMessage"] != null)
{
    <div class="alert alert-secondary" role="alert">
        @TempData["authMessage"]
    </div>
}
else
{
    foreach (var post in Model.Posts)
    {
        <b>@post.PostTitle</b><br />
    }
}
